@font-face {
  font-family: Arboria;
  src: url('../fonts/Arboria/Arboria-Light.otf') format("opentype");
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Arboria/Arboria-Book.otf') format("opentype");
  font-weight: bold;
  font-style: bold;
}
