html {
  height: 100%;
  background-color: #dddddd;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding-bottom: 8rem;
}

h1 {
  font-family: Arboria, Helvetica, sans-serif;
  color: #242424;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: left;
  letter-spacing: 0.05em;
  margin-top: 3rem;
  position: relative;
}



h2{
  font-family: Arboria, Helvetica, serif;
  color: #222222;
  font-weight: bolder;
  font-size: 1.3rem;
  text-align: left;
  letter-spacing: 0.05em;
  margin-top: 2rem;
  position: relative;
}

h3{
  font-family: Arboria, Helvetica, serif;
  color: #3b3b3b;
  font-weight: medium;
  font-size: 1.4rem;
  text-align: left;
  letter-spacing: 0.1em;
  margin-top: 2rem;
  position: relative;
  font-style: italic;
}

button{

}

p{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  line-height: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.02rem;
}

a{
  font-size: 1.0rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a:hover, a:visited, a:focus, a:active{
  /* color: #3b3b3b; */
}

code{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
}

img {
  max-width: 40rem;
  height: auto;
  border: 2px solid #ccc1a3;
}

.img-responsive{
  max-width: 100%;
}

/* index page */

.landing-container{
  height: 100vh;
  background-color: #222222;
  position: relative;
}


.andersen-container{
  text-align: left;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#index-andersen {
  margin-top: auto;
  font-size: 3.5rem;
  font-style: normal;
  color: white;
  margin-bottom: 0;

}
 #index-andersen:after{
  clear: both;
}

#index-title{
  margin-top: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  color: white;
}

.vertical-line{
  position: absolute;
  bottom: 0vh;
  left: 50%;
  border-left: 2px solid white;
  height: 15vh;
}

.horizontal-line{
  height: 1px;
  position: absolute;
  top: 1.5rem;
  border-top: 2px solid #222222;
  width: 5rem;
  margin-left: 1rem;
}

#scroll-indicator-line{
  position: absolute;
  bottom: 0vh;
  left: 49.5%;
  background: #D4AF37;
  height: 13vh;
  width: 3.5vh;
}

#scroll-indicator-text{
  position: absolute;
  bottom: 4vh;
  left: 49%;
  transform: rotate(90deg);
  font-weight: bold;
  color: #222222;
}

.index-h1-container, #profile-h1{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.index-h1-container h1{
  margin-bottom: 7rem;
}

.project-block{


}

.portfolio-container{
  background-color: white;
  padding: 2rem 0;
  z-index: 1;
  position:relative;
}

.portfolio-container figure{
  margin: 0.5em 0;
}

.portfolio-container img{
  display: block;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}

.project-name{
  border: 2px solid #D4AF37;
  text-align: center;
  font-size: 1.1rem;
  color: #D4AF37  ;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
}

.project-nav-button{
  margin-top: 2rem;
}

.project-thumbnail{
  border: 1px solid #222222;
  box-shadow: 1.2rem 1rem #D4AF37;
}

.project-name a:visited{
  color: #D4AF37;
  font-weight: bold;
  text-decoration: none;
}

.project-descrpt-container {
  margin-left: 2rem;
}

.project-descrpt-container h2{
  margin-top: 1rem;
}

.project-container{

}
.project-cotainer:after{
  content: '';
  clear: both;
}

.project-line-container{
  position: relative;
  height: 10rem;
}

#project-line{
  z-index: 0;
  border-left: 2px solid #D4AF37;
  position: absolute;
  top: -0.5rem;
  height: 12rem;

}




.profile-container{
  padding-top: 2rem;
}

.profile-icons{
  margin: auto;
  width: 50%;
}

.profile-icons a{
  padding-left: 1rem;
  padding-top: 2rem;
  display: inline-block;
}


.circle{
  width: 5rem;
	height: 5rem;
	border: 1px solid #D4AF37;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  display: inline-block;
  margin: auto;
}


/* Project pages*/

.project-content{
  margin-left: 35%;
}

.roles-container p{
  margin: 0.5rem 0;
}

#roundapoc-icon-container div, #roundapoc-label-container div{
  display: inline-block;
}

.caption{
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
}

.left-nav {
  position: fixed;
  top: 20%;
  left: 15%;
  max-width: 12em;
}

.overlay-nav{
  position: relative;
  top: 30%;
  width: 100%;
}

.overlay-nav a{
  display: block;
  text-decoration: none;
  color: #555555;
  margin: 0.6em 0;
  font-size: 1.5rem;
  text-align: center;
}

.overlay-nav a:visited{
  color: #555555;
}

.left-nav a{
  display: block;
  text-decoration: none;
  color: #888888;
  margin: 0.6em 0;
}

.left-nav a:visited{
  color: #888888;
}

.left-nav a:hover, .overlay-nav a:hover{
  color: #222;
}

#left-nav-head, #overlay-nav-head{
  margin-bottom:0rem;
}

#left-nav-foot, #overlay-nav-foot{
  margin-top:3rem;
}

.left-nav a.left-nav-project{

}

.left-nav a.active, .overlay-nav a.active{
  color: #222222;
  position: relative;
}

.left-nav-project-highlight{
  z-index: -1;
  position: absolute;
  bottom: -0.5vh;
  left: -1vh;
  background: #D4AF37;
  height: 2.5vh;
  width: 12vh;
  transition: width 0.7s;
}

.overlay-nav-project-highlight{
  z-index: -1;
  position: absolute;
  bottom: -0.5vh;
  left: 40%;
  background: #D4AF37;
  height: 2.5vh;
  width: 20%;
  transition: width 0.7s;
}

.left-nav a.active:hover > .left-nav-project-highlight, .overlay-nav a.active:hover > .overlay-nav-project-highlight{
  width: 1vh;
}

#project-2-title{
  order: 1;
}

#project-2-thumbnail{
  order: 2;
}

/* reference https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon */

.hamburger-menu{
  z-index: 10;
  position: fixed;
  top: 5vh;
  right: 5vh;
  padding: 0.6rem;
  border: 2px solid #D4AF37;
  border-radius: 50%;
  background-color: #eee;
  visibility: hidden;
}
.hamburger-menu .menu-line {
    width: 25px;
    height: 2px;
    background-color: #D4AF37;
    margin: 5px 0;
}

.overlay{
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(220, 220, 220, 0.95);
  overflow-y: hidden;
  transition: 0.5s;
}

.round-apoc-right-caption{
  margin-left: 20%;
}

.round-apoc-icon{
  max-width: 80%;
}
.round-apoc-icon-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.round-apoc-visual-caption{
  text-align: center;
}

.project-h1{
  padding-bottom: 1rem;
  border-bottom: 1px solid #888;
}


/* Style guide page */

.css-selector-code{
    background-color: #fff;
    margin-top: 0.5rem;
    padding: 0.3rem 0;

}
.css-selector-code p {
  letter-spacing: 0.1rem;
}

.project-name:hover{
  background-color: #D4AF37;
  color: white;
}

.project-name a:hover{
  color: white;
}

#style-guide-left-nav{
  position: relative;
  background-color: white;
}

/* reference page */

#reference-container{
  padding-left: 5rem;
}

/* @media */

@media screen and (max-width: 1000px){
  .project-content{
    margin-left: 5%;

  }

  .project-content .block{
    max-width: 95%!important;
  }

  nav.left-nav{
    visibility: hidden;
  }

  .hamburger-menu {
    visibility: visible;
  }

  .portfolio-container div{
    width: 95%;
  }

  .profile-container div{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 650px){

  .block-3{
    flex: 1 1 auto;
  }

  .project-line-container{
    visibility:hidden;
    display: none;
  }

  #project-1-title{
    margin-left: 0rem;
  }

  #project-2-title{
    order: 2;
  }

  #project-2-thumbnail{
    order: 1;
  }

  #reference-container{
    padding-left: 1rem;
    max-width: 100%;
  }
}
