html {
  height: 100%;
  background-color: #dddddd;
}

body{
  min-height: 100%;
  font-family: 'Montserrat', sans-serif
}

h1 {
  font-family: Arboria, Helvetica, sans-serif;
  color: #242424;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 4rem;
  position: relative;

}

h1:after{
  content:' ';
  display:block;
  border:1px solid #242424;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: -40px;
  /* width: 2.5rem; */
  width: 5%;
  left: 47.5%; /* 50 - 1/2 of width */

}

h2{
  font-family: Arboria, Helvetica, serif;
  color: #3b3b3b;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 0.1em;
  margin-top: 4rem;
  position: relative;
}

h3{
  font-family: Arboria, Helvetica, serif;
  color: #3b3b3b;
  font-weight: medium;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 1rem;
  position: relative;
}

p{
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

a{
  color: #3b3b3b;
  font-size: 1.1rem;
  font-weight: bold;
}

a:hover, a:visited, a:focus, a:active{
  color: #3b3b3b;
}

img {
  max-width: 40rem;
  height: auto;
}

/* index page */
.landing-container{
  height: 18rem;
}

#index-andersen {
  margin-top: 20rem;
  text-align: left;
  font-size: 3rem;

}
#index-andersen:after{
  content:' ';
  display:block;
  border:1.2px solid #242424;
  margin-top: 2.5rem;
  position: absolute;
  bottom: -20px;
  width: 1.9rem;
  left: 0;
}

#index-title{
  margin-top: 2rem;
  font-size: 1.3rem;
}

.project-block{
  margin-top: 2rem;
  margin-right: 0.2rem;
  max-width: 95%;
}

.portfolio-container{
  background-color: white;
  padding: 2rem 0;

}

.portfolio-container figure{
  margin: 0.5em 0;
}

.portfolio-container img{
  display: block;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 #bbbbbb, 0 6px 20px 0 #bbbbbb;
}
