html {
  height: 100%;
  background-color: #dddddd;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding-bottom: 8rem;
}

h1 {
  font-family: Arboria, Helvetica, sans-serif;
  color: #242424;
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 4rem;
  position: relative;
    font-style: italic;

}

h1:after{
  content:' ';
  display:block;
  border:1px solid #242424;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: -40px;
  /* width: 2.5rem; */
  width: 5%;
  left: 47.5%; /* 50 - 1/2 of width */

}

h2{
  font-family: Arboria, Helvetica, serif;
  color: #3b3b3b;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 0.1em;
  margin-top: 4rem;
  position: relative;
}

h3{
  font-family: Arboria, Helvetica, serif;
  color: #3b3b3b;
  font-weight: medium;
  font-size: 1.4rem;
  text-align: left;
  letter-spacing: 0.1em;
  margin-top: 2rem;
  position: relative;
  font-style: italic;
}

button{

}

p{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

a{
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a:hover, a:visited, a:focus, a:active{
  /* color: #3b3b3b; */
}

code{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
}

img {
  max-width: 40rem;
  height: auto;
  border: 2px solid #ccc1a3;
}

/* index page */
.landing-container{
  height: 18rem;
}

#index-andersen {
  margin-top: 20rem;
  text-align: left;
  font-size: 3rem;
  font-style: normal;

}
#index-andersen:after{
  content:' ';
  display:block;
  border:1.2px solid #242424;
  margin-top: 2.5rem;
  position: absolute;
  bottom: -20px;
  width: 1.9rem;
  left: 0;
}

#index-title{
  margin-top: 2rem;
  font-size: 1.3rem;
}

.project-block{
  margin-top: 2rem;
  margin-right: 0.2rem;
  max-width: 95%;
}

.portfolio-container{
  background-color: white;
  padding: 2rem 0;

}

.portfolio-container figure{
  margin: 0.5em 0;
}

.portfolio-container img{
  display: block;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 #bbbbbb, 0 6px 20px 0 #bbbbbb;
}

.project-name{
  border: 1px solid #D4AF37;
  min-height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 1.1rem;
  color: #D4AF37  ;
  font-weight: bold;
  text-decoration-color:  #ccc1a3;
}

.project-name{
  padding: 1rem 0.8rem;
  color: #D4AF37;
}

#project-button-container{

  margin-left: auto;
  margin-right: auto;
}

.project-name a:visited{
  color: #D4AF37;
  font-weight: bold;
  text-decoration: none;
}

.profile-icons{
  margin: auto;
  width: 50%;
}

.profile-icons a{
  padding-left: 1rem;
  padding-top: 2rem;
  display: inline-block;
}


.circle{
  width: 5rem;
	height: 5rem;
	border: 1px solid #ccc1a3;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  display: inline-block;
  margin: auto;
}


/* Project pages*/

.roles-container p{
  margin: 0.5rem 0;
}

#roundapoc-icon-container div, #roundapoc-label-container div{
  display: inline-block;
}

.caption{
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
}




/* Style guide page */

.css-selector-code{
    background-color: #fff;
    margin-top: 0.5rem;
    padding: 0.3rem 0;

}
.css-selector-code p {
  letter-spacing: 0.1rem;
}

.project-name:hover{
  background-color: #D4AF37;
  color: white;
}

.project-name a:hover{
  color: white;
}
